name: ML Service CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t fastapi-ml-service .

      - name: Run container test
        run: |
          docker run -d -p 8000:8000 fastapi-ml-service
          sleep 5
          curl -f http://localhost:8000/health
